<ion-header>
	<ion-navbar>
		<ion-title>
			To-Do
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div text-center>
		<ion-img width="200" height="200" src="../assets/icon/frappe.png"></ion-img>
	</div>

	<ion-item>
		<ion-label floating>Server</ion-label>
		<ion-input type="text" id="server" [(ngModel)]="server"></ion-input>
	</ion-item>

	<div padding>
		<button block ion-button (click)="validate_server(server)"> Connect </button>
	</div>

	<div *ngIf="server_list && server_list.length" padding class="text-muted"> Recents: </div>
	<div *ngFor="let data of server_list;" padding-left padding-bottom>
		<a (click)="fillServer(data)"> {{ data }} </a>
	</div>

</ion-content>
